body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #272727;
  font-family: sans-serif;
  font-size: 45px;
  border: 5px solid #272727;
  padding: 40px 80px;
  position: relative;
  overflow: hidden;
  margin-bottom: 18px;
  transition: all 1s ease-in-out;
}
a::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transition: all 1s ease-in-out;
  z-index: -1;
}
.transition1::before {
  background: #fff200;
  transform-origin: bottom left;
  transform: rotate(-90deg);
}
.transition1:hover::before {
  transform: rotate(0deg);
}
.transition2 {
  border: 3px solid #351435;
  color: #351435;
}
.transition2::before {
  background: #351435;
  transform: translateX(-100%);
}
.transition2:hover::before {
  transform: translateX(0);
}
.transition2:hover {
  color: antiquewhite;
}

.transition3 {
  border: 5px solid #262626;
  color: #262626;
}
.transition3:hover {
  color: white;
}
.transition3::before {
  background: #262626;

  transform: rotateX(90deg);
}
.transition3::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #262626;
  z-index: -1;
  transform: rotateY(90deg);
  transition: transform 1s ease-in-out;
}
.transition3:hover::before {
  transform: rotateX(0deg);
}
.transition3:hover::after {
  transform: rotateY(0deg);
}

.button1 {
  color: #e1332d;
  border: 3px solid #e1332d;
  text-transform: uppercase;
  font-family: "roboto";
  font-weight: 300;
  letter-spacing: -2px;
  transition: all 0.5s;
}
.button1:hover {
  font-weight: 900;
  letter-spacing: 10px;
  border: 7px solid #e1332d;
}
/* *************************************************************************** */
.dark {
  background: #222;
}
.button2 {
  border: 3px solid white;
  color: white;
}
.button2::before {
  content: "YEAH!";
  background: #f44336;
  color: white;
  z-index: 1;
  transform: translateY(-100%);
  display: flex;
  justify-content: center;
  align-items: center;
}
.button2:hover::before {
  transform: translateY(0);
}
.transition4 {
  border: 3px solid white;
  color: white;
}
.transition4:hover {
  background: #f44336;
}
.transition4::before {
  background: white;
  height: 50px;
  transform: translateX(-100%) rotate(45deg);
}
.transition4:hover::before {
  transform: translateX(100%) rotate(45deg);
}

.transition5 {
  color: #262626;
  border: 3px solid #262626;
}
.transition5::before {
  content: "Hover Me";
  background: #262626;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: scale(5);
  opacity: 0;
  transition: all 0.5s;
}
.transition5:hover::before {
  transform: scale(1);
  opacity: 1;
}

.button3 {
  border: 2px solid tomato;
  background: none;
  color: white;
  padding: 20px 40px;
  font-size: 25px;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.5s;
  position: relative;
  overflow: hidden;
}
.button3::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: tomato;
  z-index: -1;
  border-radius: 0 0 50% 50%;
  height: 0;
  transition: all 0.5s;
}
.button3:hover::before {
  height: 190%;
}
